.panel{
    height: 667px;
    width: 24%;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 23px 5px;
    overflow: scroll;
}

.card:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 23px 0px;
}
.news-list{
    padding: 25px 0 0 0;
}
.news-item {
    font-size: 14px;
    display: flex;
    font-weight: bold;
    border-radius: 8px;
    padding: 1.5% 2%;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 23px 5px;
    cursor: pointer;
}

.news-text{
    font-family: 'Roboto';
    width: 85%;
    padding: 0 10px 20px;
    text-align: left;
}

.source-name{
    font-size: 12px;
    color: lightslategrey;
    padding: 5px 0;
    float: left;
}
.news-src-link {
    width:10%;
    padding: 22px 12px;
}
.panel-head {
    margin-top: 0;
}

.author {
    display: flex;
    justify-content: flex-end;
}